{% extends 'base_tmpl.html' %}

{% block content %}
{% if redirect_next %}
    <form class="form-signin" method="POST" action="{% url 'login' %}?next={{ redirect_next }}">
{% else %}
    <form class="form-signin" method="POST" action="{% url 'login' %}">
{% endif %}
        <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Войдите под своим логином</h1>
        <label for="inputEmail" class="sr-only">Login</label>
        {% csrf_token %}
        {{ login_form.username }}
        <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus=""> -->
        <label for="inputPassword" class="sr-only">Password</label>
        {{ login_form.password }}
        <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""> -->
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Запомнить меня
            </label>
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Войти">
        <p class="mt-5 mb-3 text-muted">© 2020</p>
    </form>
{% endblock %}