{% extends 'base_tmpl.html' %}

{% block content %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <form action="{% url 'edit_profile' %}" method="POST">
        {% csrf_token %}
        <h6 class="border-bottom border-gray pb-2 mb-0">Профиль пользователя:</h6>
        <div class="media text-muted pt-3">
            <svg class="bd-placeholder-img mr-2 rounded" width="72" height="72" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
                <title>Аватарка {{ user_form.username.value }}</title>
                <rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff"
            dy=".3em">32x32</text>
            </svg>
            <p class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">{{ user_form.username.value }}</strong>
                <i class="d-block text-gray-dark">{{ profile_form.user_about.value }}</i>
            </p>
        </div>
        <hr>
        <div class="border-bottom">
                <div class="border-bottom d-flex align-items-center">
                    <div style="width: 200px;">Имя:</div>
                    <div>{{ user_form.first_name }}</div>
                </div>

                <div class="border-bottom d-flex align-items-center">
                    <div style="width: 200px;">Фамилия:</div>
                    <div>{{ user_form.last_name }}</div>
                </div>

                <div class="border-bottom d-flex align-items-center">
                    <div style="width: 200px;">Дата рождения:</div>
                    <div>{{ profile_form.user_birthday }}</div>
                </div>

                <div class="border-bottom d-flex align-items-center">
                    <div style="width: 200px;">Номeр телефона:</div>
                    <div>{{ profile_form.user_telephone }}</div>
                </div>

                <div class="border-bottom d-flex align-items-center">
                    <div style="width: 200px;">E-Mail:</div>
                    <div>{{ user_form.email }}</div>
                </div>

                <div class="border-bottom d-flex align-items-center">
                    <div style="width: 200px;">Канал:</div>
                    <div>{{ profile_form.radio_chanal }}</div>
                </div>    

                <div class="border-bottom d-flex align-items-center">
                    <div style="width: 200px;">Должность:</div>
                    <div>{{ profile_form.working_position }}</div>
                </div>

                <div class="border-bottom d-flex align-items-center">
                    <div style="width: 200px;">Кабинет №:</div>
                    <div>{{ profile_form.radio_room }}</div>
                </div>
        </div>
        <input class="btn btn-outline-primary" type="submit" value="Сохранить" style="height: 44px; width: 220px;">
    </form>
</div>
{% endblock %}