{% extends 'base_tmpl.html' %}
{% load static %}

{% block title %}
Create an account
{% endblock %}

{% block adition_meta %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}
<!-- <button id="console" class="btn btn-primary">Console Log</button>
<form class="shadow" action="{% url 'registration' %}" method="POST">
    <legend>Регистрация</legend>

    <div class="standart_form">
        <div class="standart_form--label text-muted empty">Имя</div>
        <input type="text" class="standart_form--input" required autocomplete="off">
    </div>

     <div class="standart_form">
         <div class="standart_form--label text-muted empty">Фамилия</div>
         <input type="text" class="standart_form--input" required autocomplete="off">
     </div>

      <div class="standart_form">
          <div class="standart_form--label text-muted empty">E-mail</div>
          <input type="text" class="standart_form--input" required autocomplete="off">
      </div>
</form> -->

<form class="shadow" action="{% url 'registration' %}" method="POST">
    <fieldset>
    <legend class="form_legend">Заполните форму для регистрации</legend>
    {% csrf_token %}
    <div class="container">
        <div class="input_box">
            <!-- TODO: why not ?{# reg_form.last_name.required #} -->
            {% for field in reg_form %}
                <div class="standart_form {% if field.name in requiredFields %}required{% endif %}">
                    <div class="standart_form--label text-muted empty">
                        {{ field.label }}</div>
                    <!-- <input type="text" class="standart_form--input" required autocomplete="off"> -->
                    {{ field }}
                </div>
            {% endfor %}
            {% for field in userinfo_form %}
            <div class="standart_form">
                <div
                    class="standart_form--label text-muted
                    {% if field.label == 'Канал' or field.label == 'Дата рождения'  %}not-{% endif %}empty
                    {% if field.name in requiredFields %}required{% endif %}">
                    {{ field.label }}</div>
                <!-- <input type="text" class="standart_form--input" required autocomplete="off"> -->
                {{ field }}
            </div>
            {% endfor %}
        </div>
        </fieldset>
        <div class="d-flex pb-3">
            <input class="btn btn-outline-primary mx-auto" type="submit" value="Зарегистрироваться" style="height: 44px; width: 220px;">
        </div>
    </div>
</form>

{% endblock %}