.form_legend {
    padding: 12px;
}

.input_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.standart_form {
    border: 2px solid rgb(211, 211, 211);
    width: 40%;
    height: 54px;
    border-radius: 4px;
    position: relative;
    /* padding: 0 12px; */
    overflow: hidden;
    margin-bottom: 15px;
    display: block;
}

.standart_form.required::after {
    content: "*";
    color: #57a6fac4;
    font-size: 32px;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 100%;
    /* padding: 15px; */
    padding-top: 15px;
    padding-right: 10px;
}

.required::after:hover {
    color: red;
}

.standart_form:hover,
.standart_form.cont {
    border: 2px solid #007bff;
}

.standart_form--input {
    border-color: transparent;
    background-color: transparent;
    border: none;
    outline: transparent;
    padding: 0 12px;
    width:100%;
    height: 100%;
    top: 50%;
}

.standart_form--label {
    padding: 0 12px;
    top: 13px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0.975rem;
    position: absolute;
}

.standart_form--label.empty {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0.975rem;
    position: absolute;
}

.standart_form--label.empty + input[type="text"],
.standart_form--label.empty + input[type="password"] {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0.975rem;
    position: absolute;
}

.standart_form--label + input[type="text"],
.standart_form--label + input[type="password"] {
    top: 65%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0.975rem;
    position: absolute;
}

input[type="date"] {
    top: 50%;
    padding-top: 12px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0.975rem;
    position: absolute;
}

/* TODO: select */
select {
    border: none;
    padding: 17px 12px 0 12px;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    outline: transparent;
}

@media(max-width: 575px) {
    .standart_form {
        width: 90%;
    }

    h3 {
        font-size: 1.35rem;
    }
}

@media(min-width: 1200px) {
    .standart_form {
        width: 232px;
    }
}

