{% extends 'base_tmpl.html' %}
{% load static %}

{% block adition_meta %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}
    <form class="shadow" action="{% url 'taskapp' %}" method="POST">
        <fieldset class="">
            <legend class="form_legend">Создать задание</legend>
            {% csrf_token %}
            <div class="container">
                <div class="">
                    <!-- TODO: why not ?{# reg_form.last_name.required #} -->
                    {% for field in createtaskform %}
                    <div class="standart_form full">
                        <div class="standart_form--label text-muted empty">
                            {{ field.label }}</div>
                        <!-- <input type="text" class="standart_form--input" required autocomplete="off"> -->
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
        </fieldset>
        <div class="d-flex pb-3">
            <input class="btn btn-outline-primary mx-auto" type="submit" value="открыть"
                style="height: 44px; width: 220px;">
        </div>
        </div>
    </form>
{% endblock %}