{% extends 'base_tmpl.html' %}
{% load static %}

{% block title %}
Управление заданиями
{% endblock %}

{% block content %}
<form class="m-1" action="{% url 'taskmanager' %}" method="GET">
    <select class="btn btn-sm btn-outline-dark" name="sort_by">
        <option disabled selected>------------</option>
        <option {% if sort == 'all' %}selected{% endif %} value="all">Все</option>
        <option {% if sort == '0' %}selected{% endif %} value="0">Закрытые</option>
        <option {% if sort == '3' %}selected{% endif %} value="3">Выполненные</option>
        <option {% if sort == '1' %}selected{% endif %} value="1">Открытые</option>
        <option {% if sort == '2' %}selected{% endif %} value="2">В процессе</option>
    </select>
    <input class="btn btn-sm btn-outline-dark" type="submit" value="Применить">
</form>

{% for task in tasklist %}
    <div class="card-deck mb-3 text-center">
        <!-- <div class="card mb-4 shadow-sm {% if task.task_status == '3' %}border-success{% elif task.task_status == '1'%}border-dark{% elif task.task_status == '2'%}border-warning{% elif task.task_status == '0' %}border-danger{%endif%}"> -->
        <div class="card mb-4 shadow-sm border-dark">
            <div class="card-header setcolor" data-taskstatus='{{task.task_status}}'>
                <h6 class="my-0 font-weight-normal">{{task.task_id}}</h6>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{task.task_title}}</h3>
                <ul class="card-text">
                    {{task.task_msg}}
                </ul>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted d-flex justify-content-between align-items-end">
                    <div>
                        <div class="d-flex flex-column align-items-start" style="font-size: 12px;">
                        <p class="m-0">открыто: <span>{{ task.open_by }}</span></p>
                        {% if task.task_status == '3' %}
                        <p class="m-0">завершено: <span>{{ task.closed_by }}</span></p>
                        {% endif %}
                        </div>
                    </div>
                    {% comment %} <div style="font-size: 12px;">{{ task.create_time }}</div> {% endcomment %}
                    <div>
                        <div class="d-flex flex-column align-items-start" style="font-size: 12px;">
                        <p class="m-0">{{ task.create_time }}</span></p>
                        {% if task.task_status == '3' %}
                        <p class="m-0">{{ task.closed_time }}</span></p>
                        {% endif %}
                        </div>
                    </div>
                </li>
                <li class="list-group-item text-muted d-flex justify-content-between align-items-end">
                    {{ task.current_user_name }}
                    {{ task.current_comp_name }}

                </li>
            </ul>
            {% if request.user.is_authenticated %}
            <div class="card-footer setborder" data-taskstatus='{{task.task_status}}'>
                <form class="d-flex justify-content-{% if task.task_status == '1' or task.task_status == '2' %}between{% else %}end{% endif %}" method="POST">
                    {% csrf_token %}
                {% if task.task_status == '1' or task.task_status == '2' %}
                <div>
                    {% if task.task_status == '1' %}
                    <button class="btn btn-sm btn-outline-secondary" formaction="{% url 'taskmanageraction' 'start' task.task_id %}">Приступить</button>
                    {% elif  task.task_status == '2' %}
                    <button class="btn btn-sm btn-outline-success" formaction="{% url 'taskmanageraction' 'success' task.task_id %}">Выполнено</button>
                    {% endif %}
                </div>
                {% endif %}
                <button class="btn btn-sm btn-outline-danger" formaction="{% url 'taskmanageraction' 'delete' task.task_id %}">Удалить</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
{% endfor %}

{% endblock %}